@model Vezeeta.Models.AppUser
<style>
.user-rating {
        font-size: 24px;
    }

    .star {
        cursor: pointer;
    }

        .star:hover:before,
        .star:hover ~ .star:before,
        .star:hover ~ .star:hover:before {
            content: "\2605";
            position: absolute;
            color: gold;
        }

        .star:before {
            content: "\2606";
            position: absolute;
        }

        .star:checked ~ .star:before {
            content: "\2605";
            color: gold;
        }

    input[type="radio"].star {
        display: none;
    }

    .styled-select {
        display: inline-block;
        position: relative;
        padding: 8px 38px 8px 16px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .styled-select::after {
            content: '\25BC';
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events: none;
        }
        /* Optional: Add more styles for focus, hover, etc. */

        .styled-select:focus, .styled-select:hover {
            border-color: #999;
        }
        /* Optional: Add more styles for the dropdown arrow icon */

        .styled-select::after {
            color: #999;
        }

</style>
<link href="~/assets/css/stylesheet.css" rel="stylesheet" />
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4 card-hover rounded" style="max-height: 90%; width:92%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="user-image" style="margin-top: 7px; margin-left:7px">
                        <img src="~/images/@Url.Content(Model.Image)" class="img-fluid rounded-circle border border-dark m-4" alt="User Image" style="border-width: 4px; border-style: solid;width: 150px; height: 150px;" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#848383;margin-bottom: 0px;">
                            <span style="font-weight:initial;font-size:17px">@Model.Role</span>
                            <span>@Model.firstName @Model.lastName</span>
                        </h5>
                        <p class="card-text" style="color:#848383;margin-bottom: 0px;margin-top: 0px;font-size:15px;font-weight:inherit">@Model.Specialization</p>
                        <div class="user-rating" style="margin-top:1px">
                            <!-- Star rating -->
                            <input type="radio" id="star5_@Model.Id" name="rating_@Model.Id" value="5" class="star" />
                            <label for="star5_@Model.Id" class="star" data-value="5">&#9733;</label>
                            <input type="radio" id="star4_@Model.Id" name="rating_@Model.Id" value="4" class="star" />
                            <label for="star4_@Model.Id" class="star" data-value="4">&#9733;</label>
                            <input type="radio" id="star3_@Model.Id" name="rating_@Model.Id" value="3" class="star" />
                            <label for="star3_@Model.Id" class="star" data-value="3">&#9733;</label>
                            <input type="radio" id="star2_@Model.Id" name="rating_@Model.Id" value="2" class="star" />
                            <label for="star2_@Model.Id" class="star" data-value="2">&#9733;</label>
                            <input type="radio" id="star1_@Model.Id" name="rating_@Model.Id" value="1" class="star" />
                            <label for="star1_@Model.Id" class="star" data-value="1">&#9733;</label>
                        </div>
                        <p class="card-text" style="color:#2985D3;margin-bottom: 3px">
                            &#129658;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Specialized in </span>
                            <span style="font-weight:700">@Model.typeOfSpecialization</span>
                        </p>
                        <p class="card-text" style="color:#898B8E;margin-top: 2px;margin-bottom: 4px">
                            <i class="bi bi-geo-alt"></i>@Model.Address
                        </p>
                        <p class="card-text" style="margin-top: 2px ;margin-bottom: 4px">
                            &#128184;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Fees:</span>
                            <span style="color:#898B8E;font-size:15px;font-weight:inherit">@Model.fees EGP</span>
                        </p>
                        <p class="card-text" style="margin-top: 2px;margin-bottom: 4px;color:#2985D3;">
                            <i class="bi bi-hourglass-split"></i>Waiting Time : 37 Minutes
                        </p>
                        <p class="card-text" style="margin-top: 2px;margin-bottom: 4px;color:#898B8E;">
                            <i class="bi bi-telephone"></i>16676 - Cost of regular call
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center" style="">
            <div class="card-header" style="background:#2985D3; color:white">
                Booking Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <p class="card-text" style="margin-top: 2px ;margin-bottom: 4px">&#128184;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Fees:</span> <span style="color:#898B8E;font-size:15px;font-weight:inherit">@Model.fees EGP</span></p>
                <p class="card-text" style="margin-top: 2px;margin-bottom: 4px;color:#2985D3;"><i class="bi bi-hourglass-split"></i>Waiting Time : 37 Minutes</p>
            </div>
            <div class="card-footer text-body-secondary">
                <p class="card-text" style="color:#2985D3;margin-top: 2px;margin-bottom: 4px">
                    <i class="bi bi-geo-alt"></i>@Model.Address
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4 card-hover rounded" style="max-width: 100%; width:60%;">

    <div class="m-3">
    <h6 style="color:#848383">  <i class="bi bi-info-square"></i>   About The Doctor</h6>
    <p class="card-text" style="color:#2985D3;margin-bottom: 3px;margin-left:50px">
        &#129658;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Specialized in </span>
        <span style="font-weight:700">@Model.typeOfSpecialization</span>
    </p>
    </div>
</div>
<div class="card mb-4 card-hover" style="max-width: 100%; width:60%;">
    <div class="user-rating" style="margin-top:1px">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-star-half"></i> Patient Reviews</h5>
            @foreach (var review in Model.DoctorReviews)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Patient Name: @review.Patient.firstName @review.Patient.lastName</h6>
                        @if (review.Rate >= 5)
                        {
                            @* <input type="radio" id="star5_@Model.Id" name="rating_@Model.Id" value="5" class="star" checked /> *@
                            <label for="star5_@Model.Id" class="star" style="color: orange" data-value="5">&#9733;</label>
                        }

                        @if (review.Rate >= 4)
                        {
                            @*  <input type="radio" id="star4_@Model.Id" name="rating_@Model.Id" value="4" class="star" checked /> *@
                            <label for="star4_@Model.Id" class="star" style="color: orange" data-value="4">&#9733;</label>
                        }

                        @if (review.Rate >= 3)
                        {
                            @*  <input type="radio" id="star3_@Model.Id" name="rating_@Model.Id" value="3" class="star" checked /> *@
                            <label for="star3_@Model.Id" class="star" style="color: orange" data-value="3">&#9733;</label>
                        }

                        @if (review.Rate >= 2)
                        {
                            @* <input type="radio" id="star2_@Model.Id" name="rating_@Model.Id" value="2" class="star" checked /> *@
                            <label for="star2_@Model.Id" class="star" style="color: orange" data-value="2">&#9733;</label>
                        }

                        @if (review.Rate >= 1)
                        {
                            @* <input type="radio" id="star1_@Model.Id" name="rating_@Model.Id" value="1" class="star" checked /> *@
                            <label for="star1_@Model.Id" class="star" style="color: orange" data-value="1">&#9733;</label>
                        }

                        <p class="card-text">Review: @review.Review</p>
                        <!-- Add more review properties as needed -->
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>



<!-- Add more details as needed -->
<!-- / Begin Body -->
@* <div class='swanky'>
    <!-- /////////// Begin Dropdown //////////// -->
    <div class='swanky_wrapper'>
        <input id='Dashboard' name='radio' type='radio'>
        <label for='Dashboard'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/dash.png'>
            <span>Dashboard</span>
            <div class='lil_arrow'></div>
            <div class='bar'></div>
            <div class='swanky_wrapper__content'>
                <ul>
                    <li>Tools</li>
                    <li>Reports</li>
                    <li>Analytics</li>
                    <li>Code Blocks</li>
                </ul>
            </div>
        </label>
        <input id='Sales' name='radio' type='radio'>
        <label for='Sales'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png'>
            <span>Sales</span>
            <div class='lil_arrow'></div>
            <div class='bar'></div>
            <div class='swanky_wrapper__content'>
                <ul>
                    <li>New Sales</li>
                    <li>Expired Sales</li>
                    <li>Sales Reports</li>
                    <li>Deliveries</li>
                </ul>
            </div>
        </label>
        <input id='Messages' name='radio' type='radio'>
        <label for='Messages'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
            <span>Messages</span>
            <div class='lil_arrow'></div>
            <div class='bar'></div>
            <div class='swanky_wrapper__content'>
                <ul>
                    <li>Inbox</li>
                    <li>Outbox</li>
                    <li>Sent</li>
                    <li>Archived</li>
                </ul>
            </div>
        </label>
        <input id='Users' name='radio' type='radio'>
        <label for='Users'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png'>
            <span>Users</span>
            <div class='lil_arrow'></div>
            <div class='bar'></div>
            <div class='swanky_wrapper__content'>
                <ul>
                    <li>New User</li>
                    <li>User Groups</li>
                    <li>Permissions</li>
                    <li>Passwords</li>
                </ul>
            </div>
        </label>
        <input id='Settings' radio='radio' type='radio'>
        <label for='Settings'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/set.png'>
            <span>Settings</span>
            <div class='lil_arrow'></div>
            <div class='swanky_wrapper__content'>
                <ul>
                    <li>Databases</li>
                    <li>Design</li>
                    <li>Change User</li>
                    <li>Log Out</li>
                </ul>
            </div>
        </label>
    </div>
    <!-- /////////// End Dropdown //////////// -->
</div> *@


