@model IEnumerable<Vezeeta.Models.AppUser>
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<style>
    .user-rating {
        font-size: 24px;
    }

    .star {
        cursor: pointer;
    } 

        .star:hover:before,
        .star:hover ~ .star:before,
        .star:hover ~ .star:hover:before {
            content: "\2605";
            position: absolute;
            color: gold;
        }

        .star:before {
            content: "\2606";
            position: absolute;
        }

        .star:checked ~ .star:before {
            content: "\2605";
            color: gold;
        }

    input[type="radio"].star {
        display: none;
    }

    .carousel-item {
        text-align: center;
    }

    .list-group-item {
        width: 90%;
        margin: 0;
    }

    .card-hover:hover {
        background-color: #EDF0F2;
    }

    a:hover span {
        text-decoration: underline;
    }

    .custom-select {
        /* Add your custom styles here */
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

        .custom-select:focus {
            /* Add focus styles here */
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(0,123,255,.25);
        }

    .appointment-item {
        transition: background-color 0.3s ease;
    }

        .appointment-item:hover {
            background-color: rgba(240, 240, 240, 0.8); /* Change to your desired hover background color */
        }

</style>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="accordion">
            <div class="accordion-item">
                <h5 class="accordion-header" style="background:#0070CD;text-align:center;font-weight:bold;color:white">
                    <i class="bi bi-funnel"></i> Filter
                </h5>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#0070CD;text-align:center;font-weight:bold">
                        SubSpecialist&#129658;
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <select class="form-select custom-select w-100" aria-label="specialist" style="width:150px; color: #747470;" onchange="location = this.value;">
                            <option selected style="color: #747470;" hidden>Select specialist</option>
                            <option value="?filterspecialist=specialist" style="color: #747470;">ALL</option>
                            <option value="?filterspecialist=Dermatology" style="color: #747470;">Dermatology</option>
                            <option value="?filterspecialist=Dentistry" style="color: #747470;">Dentistry</option>
                            <option value="?filterspecialist=Psychiatry" style="color: #747470;">Psychiatry</option>
                            <option value="?filterspecialist=Pediatrics and New Born" style="color: #747470;">Pediatrics and New Born</option>
                            <option value="?filterspecialist=Neurology" style="color: #747470;">Neurology</option>
                            <option value="?filterspecialist=Orthopedics" style="color: #747470;">Orthopedics</option>
                            <option value="?filterspecialist=Gynaecology" style="color: #747470;">Gynaecology</option>
                            <option value="?filterspecialist=Ear, Nose and Throat" style="color: #747470;">Ear, Nose and Throat</option>
                            <option value="?filterspecialist=Allergy and Immunology" style="color: #747470;">Allergy and Immunology</option>
                            <option value="?filterspecialist=Audiology" style="color: #747470;">Audiology</option>
                            <option value="?filterspecialist=Chest and Respiratory" style="color: #747470;">Chest and Respiratory</option>
                            <option value="?filterspecialist=Diabetes and Endocrinology" style="color: #747470;">Diabetes and Endocrinology</option>
                            <option value="?filterspecialist=Diagnostic Radiology" style="color: #747470;">Diagnostic Radiology</option>
                            <option value="?filterspecialist=Dietitian and Nutrition" style="color: #747470;">Dietitian and Nutrition</option>
                            <option value="?filterspecialist=Family Medicine" style="color: #747470;">Family Medicine</option>
                        </select>
                        <br />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:#0070CD;text-align:center;font-weight:bold">
                        Examination Fee&#128184;
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <select class="form-select custom-select w-100" aria-label="Fees" style="width:150px; color: #747470;" onchange="location = this.value;">
                            <option selected style="color: #747470;" hidden>Choose Range</option>
                            <option value="?filterFees=Fees" style="color: #747470;">ALL</option>
                            <option value="?filterFees=Lessthan50" style="color: #747470;">Lessthan50</option>
                            <option value="?filterFees=From100to200" style="color: #747470;">From100to200</option>
                            <option value="?filterFees=From200to300" style="color: #747470;">From200to300</option>
                            <option value="?filterFees=Greaterthan500" style="color: #747470;">Greaterthan500</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:#0070CD;text-align:center;font-weight:bold">
                        <i class="bi bi-gender-female"></i><i class="bi bi-gender-male"></i> Gender
                    </button>
                </h3>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <select class="form-select custom-select w-100" aria-label="gender" style="width:150px; color: #747470;" onchange="location = this.value;">
                            <option selected style="color: #747470;" hidden>select Gender</option>
                            <option value="?filterGender=gender" style="color: #747470;">ALL</option>
                            <option value="?filterGender=Female" style="color: #747470;">Female</option>
                            <option value="?filterGender=Male" style="color: #747470;">Male</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h4 style="color:#747470;margin-bottom: 0px;">@Model.FirstOrDefault()?.typeOfSpecialization</h4>
            </div>
            <div class="col-md-5 row justify-content-end">
                <select class="form-select" aria-label="sorted" style="width:50%; color: #747470;" onchange="location = this.value;">
                    <option value="?sortOrder=Sorted" selected style="color: #747470;">Sorted</option>
                    <option value="?sortOrder=HighToLow" style="color: #747470;">High to Low</option>
                    <option value="?sortOrder=LowToHigh" style="color: #747470;">Low to High</option>
                </select>
            </div>
        </div>
        <br />
        <div class="user-list col-12">
            @foreach (var user in Model)
            {

                <div class="card mb-4 card-hover rounded" style="max-width: 94%; border-radius:5% ;">

                    <div class="row g-0">
                        <div class="col-md-2">
                            <a href="@Url.Action("Details", "ResearchResult", new { id = user.Id })" style="text-decoration: none;">
                                <div class="user-image" style="margin-top: 20px;">
                                    <img src="~/assets/img/doctors/@Url.Content(user.Image)" class="img-fluid rounded-circle border border-dark m-4" alt="User Image" style="border-width: 4px; border-style: solid;width: 100px; height: 100px;" />
                                </div>
                            </a>
                        </div>

                        <div class="col-md-5">
                            <div class="card-body">
                                <a href="@Url.Action("Details", "ResearchResult", new { id = user.Id })" style="text-decoration: none;">
                                    <h5 class="card-title" style="color:#2985D3;margin-bottom: 0px;">
                                        <span style="font-weight:initial;font-size:17px">@user.Role</span>
                                        <span>@user.firstName @user.lastName</span>
                                    </h5>
                                </a>
                                <p class="card-text" style="color:#898B8E;margin-bottom: 0px;margin-top: 0px;font-size:15px;font-weight:inherit"> @user.Specialization</p>
                                <div class="user-rating" style="margin-top:1px">
                                    <!-- Star rating -->
                                    <input type="radio" id="star5_@user.Id" name="rating_@user.Id" value="5" class="star" />
                                    <label for="star5_@user.Id" class="star" data-value="5">&#9733;</label>
                                    <input type="radio" id="star4_@user.Id" name="rating_@user.Id" value="4" class="star" />
                                    <label for="star4_@user.Id" class="star" data-value="4">&#9733;</label>
                                    <input type="radio" id="star3_@user.Id" name="rating_@user.Id" value="3" class="star" />
                                    <label for="star3_@user.Id" class="star" data-value="3">&#9733;</label>
                                    <input type="radio" id="star2_@user.Id" name="rating_@user.Id" value="2" class="star" />
                                    <label for="star2_@user.Id" class="star" data-value="2">&#9733;</label>
                                    <input type="radio" id="star1_@user.Id" name="rating_@user.Id" value="1" class="star" />
                                    <label for="star1_@user.Id" class="star" data-value="1">&#9733;</label>
                                </div>
                                <p class="card-text" style="color:#2985D3;margin-bottom: 3px">&#129658;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Specialized in </span><span style="font-weight:700">@user.typeOfSpecialization</span> </p>
                                <p class="card-text" style="color:#898B8E;margin-top: 2px;margin-bottom: 4px"><i class="bi bi-geo-alt"></i>@user.Address</p>
                                <p class="card-text" style="margin-top: 2px ;margin-bottom: 4px">&#128184;<span style="color:#898B8E;font-size:15px;font-weight:inherit">Fees:</span> <span style="color:#898B8E;font-size:15px;font-weight:inherit">@user.fees EGP</span></p>
                                <p class="card-text" style="margin-top: 2px;margin-bottom: 4px;color:#2985D3;"><i class="bi bi-hourglass-split"></i>Waiting Time : 37 Minutes</p>
                                <p class="card-text" style="margin-top: 2px;margin-bottom: 4px;color:#898B8E;"><i class="bi bi-telephone"></i>16676 - Cost of regular call</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div id="carouselExample" class="carousel slide col-md-5 justify-content-end row" data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-6">

                                            <div class="list-group" style="width:100%;margin-top:50px;">
                                                    @if(user.DoctorAppointments.Count > 0)
                                                    {
                                                        <p class="list-group-item list-group-item-action active" style="text-align:center;font-weight:bold;font-size:15px;border:0px;" aria-current="true">
                                                            Available Dates
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="list-group-item list-group-item-action active" style="text-align:center;font-weight:bold;font-size:15px;background-color:red;border:0px;" aria-current="true">
                                                            No Available Dates
                                                        </p>
                                                    }
                                                    @foreach (var appointment in user.DoctorAppointments.Where(da=>!da.Booked))
                                                {
                                                    <a asp-controller="pateint" asp-action="Book" class="list-group-item list-group-item-action appointment-item py-1" style="color:#0070CD;text-align:center;font-weight:bold;font-size:12px;border-bottom:none;margin-bottom:0px;margin-top:0px;padding:0" asp-route-Currentdoc="@user.Id" asp-route-AppID="@appointment.Id" asp-route-Appo="@appointment.Date.ToString("yyyy-M-d") - @appointment.Time PM">
                                                        @appointment.Date.ToString("yyyy-M-d") - @appointment.Time PM
                                                    </a>
                                             
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
</div>

